name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version:
          - "25.1"
          - "27.2"
          - "28.2"
          - "29.4"
          - "snapshot"

    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Run tests
        run: nix develop --command make test

      - name: Byte-compile
        run: nix develop --command make compile

      - name: Check Formatting
        run: nix develop --command make format-check

      - name: Checkdoc
        run: nix develop --command make checkdoc

      - name: Lint
        run: nix develop --command make lint
